@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KCCChassam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InkLipquid';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothicNeoB';
  src: url('/font/AppleSDGothicNeoB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothicNeoEB';
  src: url('/font/AppleSDGothicNeoEB.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothicNeoM';
  src: url('/font/AppleSDGothicNeoM.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HSBombaram21-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EF_jejudoldam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BookkMyungjo-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GyeonggiBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunCentennial';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMEULJIRO';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'insungitCutelivelyjisu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ghanachoco';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UhBeeQUEENJ';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeQUEENJ.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }


body {
  background-color: #F1F2F2;
}



.dropdown2-item[data-value="1"] {
  font-family: "GmarketSansMedium", sans-serif;
}

.dropdown2-item[data-value="2"] {
  font-family: "LOTTERIACHAB", sans-serif;
}

.dropdown2-item[data-value="3"] {
  font-family: "KCCChassam", sans-serif;
}

.dropdown2-item[data-value="4"] {
  font-family: "Cafe24Ssurround", sans-serif;
}

.dropdown2-item[data-value="5"] {
  font-family: "InkLipquid", sans-serif;
}

.dropdown2-item[data-value="6"] {
  font-family: "Pretendard-Regular", sans-serif;
}

.dropdown2-item[data-value="7"] {
  font-family: "HSBombaram21-Regular", sans-serif;
}

.dropdown2-item[data-value="8"] {
  font-family: "GangwonEduSaeeum_OTFMediumA", sans-serif;
}

.dropdown2-item[data-value="9"] {
  font-family: "EF_jejudoldam", sans-serif;
}

.dropdown2-item[data-value="10"] {
  font-family: "Chosunilbo_myungjo", sans-serif;
}

.dropdown2-item[data-value="11"] {
  font-family: "S-CoreDream-3Light", sans-serif;
}

.dropdown2-item[data-value="12"] {
  font-family: "TAEBAEKmilkyway", sans-serif;
}

.dropdown2-item[data-value="13"] {
  font-family: "BookkMyungjo-Bd", sans-serif;
}

.dropdown2-item[data-value="14"] {
  font-family: "SBAggroB", sans-serif;
}

.dropdown2-item[data-value="15"] {
  font-family: "GyeonggiBatang", sans-serif;
}

.dropdown2-item[data-value="16"] {
  font-family: "ChosunCentennial", sans-serif;
}

.dropdown2-item[data-value="17"] {
  font-family: "BMEULJIRO", sans-serif;
}

.dropdown2-item[data-value="18"] {
  font-family: "insungitCutelivelyjisu", sans-serif;
}

.dropdown2-item[data-value="19"] {
  font-family: "ghanachoco", sans-serif;
}

.dropdown2-item[data-value="20"] {
  font-family: "UhBeeQUEENJ", sans-serif;
}



#topBar {
  width: 100%;
  height: 58px;
  position: relative;
  top: 0px;
  background-color: #000000;
  z-index: 1000;
  animation: change-height 1s ease-in-out forwards;
  overflow: auto;
}

#topLogo {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 110px;
  height: 22px;
  background-image: url(./image/pclogo.png);
  background-size: cover;
}

#uploadBt, #textBt, #saveBt {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  margin-left: 10px; /* 필요한 경우 여백 추가 */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#uploadBt {
  background-image: url(./image/img.svg);
  right: 85px;
}

#textBt {
  background-image: url(./image/text.svg);
  right: 50px;
}

#saveBt {
  background-image: url(./image/down.svg);
  right: 15px;
}


#centerLineX {
  position: absolute;
  width: 1px;
  background-color: #000;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 50;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#centerLineX.visible {
  opacity: 1;
}

#centerLineY {
  position: absolute;
  width: 100%;
  background-color: #000;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 50;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#centerLineY.visible {
  opacity: 1;
}


#leftBar {
  position: absolute;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  padding-top: 20px;
  z-index: 150;
}

#leftBar::-webkit-scrollbar {
  width: 0px; /* 스크롤바 너비 설정 */
  background-color: transparent; /* 스크롤바 배경색 설정 */
}






[id^="tab-"]:hover::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* 스크롤바 호버 색 */
}

[id^="tab-"] {
  height: calc(100%);
  overflow-y: overlay;
}


::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff; /* 스크롤바 배경색 */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* 스크롤바 색 */
  border-radius: 4px; /* 스크롤바 모서리 반경 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* 스크롤바 호버 색 */
}

ul.tabs {
  position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'AppleSDGothicNeoM';
    letter-spacing: -0.25px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 0;
  }


  
  /* ul 간격 */
  ul.tabs li {
    position: relative;
    display: inline-block;
    color: #b2b2b2;
    cursor: pointer;
    transition: color 0.3s ease, opacity 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
  }
  
  /* 선택된 ul */
  ul.tabs li.current {
    border-radius: 100px;
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    opacity: 1;
    box-sizing: border-box;
  }
  
  /* hover 시 색상 변경 */
  ul.tabs li:hover {
    color: #fff !important;
    border-radius: 100px;
    background-color: #000;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }
  
  ul.tabs li:focus {
    color: #fff;
    border-radius: 100px;
    background-color: #000;
  }
  
  /* 선택된 탭 컨텐츠 */
.tab-content{
    font-family: 'AppleSDGothicNeoM';
    letter-spacing: -0.25px;
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    animation-name: slideInDown;
    animation-duration: 0.5s;
    height: calc(100% - 0px);
}

/* 선택되지 않은 탭 컨텐츠 */
.tab-content.current{
    font-family: 'AppleSDGothicNeoM';
    letter-spacing: -0.25px;
    display: inherit;
    padding-left: 10px;
    padding-right: 10px;
    animation-name: slideInUp;
    animation-duration: 0.5s;
    height: calc(100% - 0px);
}






@keyframes slideInDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
  
  /* 상품리스트 */


  .shop:hover {
    opacity: 80%;
    cursor: pointer;
  }

  #shopWrapper {
    display: inline-block;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }

  #temWrapper {
    display: inline-block;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }


  .shop {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    box-shadow: inset 0 0 0 1px #eaeaea;
  }

  
  .shop-title {
    position: absolute;
    color: #000;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
    padding-left: 5px;
    font-family: 'AppleSDGothicNeoM';
    font-size: 14px;
    line-height: 16px;
    top: 130px;
    letter-spacing: -0.25px;
    left: 0;
    right: 0;
    width: 100%;
  }
  
  .shop-subtitle {
    position: absolute;
    color: #cacaca;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 1;
    padding-left: 5px;
    font-family: 'AppleSDGothicNeoM';
    font-size: 12px;
    line-height: 14px;
    top: 149px;
    letter-spacing: -0.25px;
    left: 0;
    right: 0;
  }

  .shop-notice {
    position: absolute;
    right: 10;
    top: 10;
    font-family: 'AppleSDGothicNeoM';
    font-size: 10px;
    line-height: 16px;
    letter-spacing: -0.25px;
    background-color: #000;
    color: white;
    opacity: 50%;
    width: 30px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #shop1 {
    background-image: url(./image/8654.png);
  }
  
  #shop2 {
    background-image: url(./image/5486.png);
  }
  
  #shop3 {
    background-image: url(./image/8080.png);
  }
  
  #shop4 {
    background-image: url(./image/8695.png);
  }

  #shop5 {
    background-image: url(./image/9586.png);
  }

  #shop6 {
    background-image: url(./image/9090.png);
  }

  #shop7 {
    background-image: url(./image/100100.png);
  }

  #shop8 {
    background-image: url(./image/100140.png);
  }

  #shop9 {
    background-image: url(./image/140100.png);
  }

  #shop10 {
    background-image: url(./image/3232.png);
  }

  #shop11 {
    background-image: url(./image/8258.png);
  }

  #shop12 {
    background-image: url(./image/5882.png);
  }

  #shop13 {
    background-image: url(./image/9050.png);
  }
  
  #shop14 {
    background-image: url(./image/5090.png);
  }

  #shop15 {
    background-image: url(./image/8652.png);
  }

  #shop16 {
    background-image: url(./image/5286.png);
  }

  #shop17 {
    background-image: url(./image/3838.png);
  }




  #menuBar {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e4e7;
    line-height: 44px;
    font-family: 'AppleSDGothicNeoM';
    letter-spacing: -0.25px;
    font-weight: 600;
    font-size: 14px;
    color: black;
    margin-top: -1px;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: center; /* 가로 중앙 정렬 */
  }


  

  

  
  #rightmenu{
    position: absolute;
    right: 20px;
  }

#mainBar {
  position: absolute;
  width: 100%;
  height: calc(100% - 309px);
  top: 108px;
}





  #canvas {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 15%);
    display: none;
  }

  #canvasB {
    position: absolute;
    z-index: 50;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  #canvasC {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  #canvasMom {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 1s cubic-bezier(0.77, 0, 0.175, 1);
}

#canvasMom.move-up {
  top: calc(50%);
}

  #canvasBarguide {
    position: absolute;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;    
  }



  #fileInput {
    display: none;
  }


  
  #textAdd {
    position: relative;
    width: 80px;
    height: 30px;
    left: 26px;
    border-radius: 5px;
    background-color: #f1f2f2;
    font-family: 'AppleSDGothicNeoM';
    letter-spacing: -0.25px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    cursor: pointer;
  }

 
  #texts {
    position: relative;
    width: 270px;
    height: 30px;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-family: 'AppleSDGothicNeoM';
    letter-spacing: -0.25px;
    padding-top: 2px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    z-index: 200;
    border: none;
    padding-left: 11px;
    margin-right: 10px;
    
  }

  #texts:focus {
    outline: none;
}


#texts::placeholder {
    color:#bcbec0;
}

#texts:hover {
  background-color: #eaeaea;
}



#textBot:hover, #textMid:hover, #textTop:hover {
  fill: #ffffff;
  background-color: #000000;
}

.dropdown2-select {
  position: relative;
  width: 170px;
  height: 30px;
  left: 0px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}

.dropdown2-selected:hover {
  background-color: #eaeaea;
}

.dropdown2-selected {
  display: flex;
align-items: center;
  position: relative;
  z-index: 1;
  font-family: 'AppleSDGothicNeoM';
  font-weight: 400;
  font-size: 12px;
  text-indent: 10px;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 5px;
  background-color: #f1f2f2;
  letter-spacing: -0.25px;
  padding-top: 0px;
  border: none;
  cursor: pointer;
}

.dropdown2-list {
  position: absolute;
  top: 50px;
  z-index: 2;
  width: 170px;
  max-height: 270px;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.dropdown2-list.show {
  opacity: 1;
  padding: auto;
  visibility: visible;
}

.dropdown2-list::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.dropdown2-item:hover {
  background-color: #000000;
  color: #fff;
}

.dropdown2-item {
  font-family: 'AppleSDGothicNeoM';
  letter-spacing: -0.25px;
  font-weight: 400;
  font-size: 12px;
  padding: 0px 10px;
  color: #333;
  cursor: pointer;
  line-height: 3;
}

.dropdown2-item:hover {
  background-color: #000000;
  color: #fff;
}



.dropdown2-selected:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

.dropdown2-selected:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333;
  display: none;
}

.slider {
  position: relative;
  left: 0px;
  -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  width: 120px; /* 슬라이더 길이 */
  height: 1px; /* 슬라이더 두께 */
  border-radius: 100px; /* 슬라이더 모서리를 약간 둥글게 */
  background: #f1f2f2; /* 슬라이더 색상 */
  outline: none; /* 슬라이더 테두리 없이 */
}

/* 슬라이더 핸들(클릭해서 드래그하는 부분) 커스텀 
(Chrome, Opera, Safari, Edge 브라우저를 위해서는 -webkit-을,
Firefox 브라우저를 위해서는 -moz- 를 사용하세요 */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
  width: 8px; /* 슬라이더 핸들 길이 */
  height: 8px; /* 슬라이더 핸들 높이 */
  border-radius: 100px; /* 핸들 모양을 원모양으로 만들기 위함 */
  background: #000; /* 슬라이더 핸들 색상 */
  cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
}

#rangeMom {
  position: relative;
    width: 140px;
    height: 30px;
    border-radius: 5px;
    background-color: #f1f2f2;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    margin-right: 10px;
}

#rangeMom:hover {
  background-color: #eaeaea;
}

#colorOn {
  position: relative;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #f1f2f2;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    cursor: pointer;
}

#colorLive {
  position: relative;
  width: 17px;
  height: 17px;
  border-radius: 100px;
  background-color: #000;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

#colorMom {
  opacity: 0;
  position: relative;
  width: 315px;
  height: 168px;
  top: 120px;
  border-radius: 5px;
  background-color: #ffffff;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  visibility: hidden;
  margin-left: -315px;
}

#colorMom.show {
  opacity: 1;
  visibility: visible;
  margin-left: -1315px;
}

.box{
  position: relative;
  width: 295px;
  height: 148px;
  display: flex;
  left: 10px;
  top: 60px;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}
.pallet{
  width: 295px;
  height: 250px;
  
}
.active{
  /*outline: 1px solid black;*/
}
.colorBox{
  width: 20px;
  height: 20px;
  float: left;
  margin: 1px 1px 0px 0px;
  cursor: pointer;
  border-radius: 100px;
}




#temlistClose {
  position: absolute;
  width: 24px;
  height: 24px;
  left: -50px;
  bottom: 10;
  border-radius: 100px;
  background-color: #000;
  background-image: url('./image/close.svg');
  background-size: 10px auto;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#gongback-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 5000;
  animation: change-height 1.5s forwards 2s, fade-out 1s forwards 3.5s;
  pointer-events: block;
}

#gongback {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(./image/bg.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 5001;
  opacity: 0;
  animation: fade-in 2s forwards, change-top 2s forwards 2s, fade-out 1s forwards 2s;
  pointer-events: none;
}

.tem {
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #000;
  padding: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes change-height {
  from {
    height: 100%;
  }
  to {
    height: 58px;
  }
}

@keyframes change-top {
  from {
    top: 0;
  }
  to {
    top: -500px;
  }
}



[id^="shoptem"]:hover {
  opacity: 80%;
  cursor: pointer;
}

[id^="shoptem"] {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  transition: opacity 0.3s ease-in-out;
  position: relative;
}

#shoptemA1 {
  background-image: url(./image/pc_tem1.png);
  position: relative;
}

#shoptemA2 {
  background-image: url(./image/pc_tem2.png);
}

#shoptemA3 {
  background-image: url(./image/pc_tem3.png);
}

#shoptemA4 {
  background-image: url(./image/pc_tem4.png);
}

#shoptemA5 {
  background-image: url(./image/pc_tem5.png);
}

#shoptemA6 {
  background-image: url(./image/pc_tem6.png);
}

#shoptemA7 {
  background-image: url(./image/pc_tem7.png);
}

#shoptemA8 {
  background-image: url(./image/pc_tem8.png);
}

#shoptemA9 {
  background-image: url(./image/pc_tem9.png);
}


#shoptemB1 {
  background-image: url(./image/pc2_tem1.png);
  position: relative;
}

#shoptemB2 {
  background-image: url(./image/pc2_tem2.png);
}

#shoptemB3 {
  background-image: url(./image/pc2_tem3.png);
}

#shoptemB4 {
  background-image: url(./image/pc2_tem4.png);
}

#shoptemB5 {
  background-image: url(./image/pc2_tem5.png);
}

#shoptemB6 {
  background-image: url(./image/pc2_tem6.png);
}


#shoptemC1 {
  background-image: url(./image/memo_tem1.png);
  position: relative;
}

#shoptemC2 {
  background-image: url(./image/memo_tem2.png);
}

#shoptemC3 {
  background-image: url(./image/memo_tem3.png);
}

#shoptemC4 {
  background-image: url(./image/memo_tem4.png);
}

#shoptemC5 {
  background-image: url(./image/memo_tem5.png);
}

#shoptemC6 {
  background-image: url(./image/memo_tem6.png);
}


#shoptemD1 {
  background-image: url(./image/memo2_tem1.png);
  position: relative;
}

#shoptemD2 {
  background-image: url(./image/memo2_tem2.png);
}

#shoptemD3 {
  background-image: url(./image/memo2_tem3.png);
}

#shoptemD4 {
  background-image: url(./image/memo2_tem4.png);
}

#shoptemD5 {
  background-image: url(./image/memo2_tem5.png);
}

#shoptemD6 {
  background-image: url(./image/memo2_tem6.png);
}

@media (min-width: 960px) {
  .color-list-container {
    display: none;
  }
  #textBt {
    display: none;
  }
  #uploadBt {
    right: 50px;
  }
  .slider {
    width: 120px; /* 슬라이더 길이 */
    height: 1px; /* 슬라이더 두께 */
    border-radius: 100px; /* 슬라이더 모서리를 약간 둥글게 */
    background: #f1f2f2; /* 슬라이더 색상 */
  }
  
  .slider::-webkit-slider-thumb {
    width: 10px; /* 슬라이더 핸들 길이 */
    height: 10px; /* 슬라이더 핸들 높이 */
    border-radius: 100px; /* 핸들 모양을 원모양으로 만들기 위함 */
    background: #000; /* 슬라이더 핸들 색상 */
  }

  #control {
    background-color: #000;
  }
}


@media (max-width: 960px) {
  body {
    overflow: hidden;
  }
  .dropdown2-select {
    position: relative;
    width: 100%;
    height: 30px;
    left: 0px;
    margin-right: 0px;
  }
  #texts {
    width: 100%;
    height: 32px;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
  }
  #textBt {
    display: block;
  }
  #menuBar {
    padding-left: 0px;
    flex-wrap: wrap;
    height: auto;
    margin-top: -160px;
    transition: margin-top 0.5s ease-out;
  }

  .dropdown2-selected {
    z-index: 1;
    font-family: 'AppleSDGothicNeoM';
    font-weight: 400;
    font-size: 14px;
    text-indent: 10px;
    width: 100%;
    height: 50px;
    border-radius: 0px;
    background-color: #ffffff;
    text-indent: 20px;
  }

  .dropdown2-selected:hover {
    background-color: #ffffff;
  }

  .dropdown2-list {
    position: absolute;
    top: 0px;
    z-index: 9999;
    width: 100%;
    max-height: 157px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    border-radius: 0px;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }

  .dropdown2-list::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  .dropdown2-selected:before {
    right: 20px;
  }

  #leftBar {
    overflow: hidden;
  }

  .tab-content {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  /* 선택되지 않은 탭 컨텐츠 */
  .tab-content.current {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  /* 스크롤바 숨기기 */
  .tab-content::-webkit-scrollbar {
    display: none;
  }

  #texts:hover {
    background-color: #f1f2f2;
  }

  #colorMom {
    display: none;
  }

  #textTop {
    display: none;
  }

  #textMid {
    display: none;
  }

  #textBot {
    display: none;
  }

  #colorOn {
    display: none;
  }

  #rightmenu {
    display: none;
  }

  #rangeMom {
    width: 100%;
    height: 30px;
    border-radius: 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    margin-right: 0px;
  }
  

  .slider {
    width: 100%; /* 슬라이더 길이 */
    height: 4px; /* 슬라이더 두께 */
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 100px; /* 슬라이더 모서리를 약간 둥글게 */
    background: #000; /* 슬라이더 색상 */
    outline: none; /* 슬라이더 테두리 없이 */
    margin-top: 15px;
  }

  .slider::-webkit-slider-thumb {
    width: 16px; /* 슬라이더 핸들 길이 */
    height: 16px; /* 슬라이더 핸들 높이 */
    border-radius: 100px; /* 핸들 모양을 원모양으로 만들기 위함 */
    background: #fff; /* 슬라이더 핸들 색상 */
    cursor: pointer; /* 슬라이더 핸들에 마우스를 갖다대면 포인터로 변경 */
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
  }

  #mainBar {
    top: 58px;
    height: calc(100% - 259px);
    overflow: hidden;
  }

  .dropdown2-item {
    font-size: 14px;
    padding: 4px 20px;
    color: #000;
    cursor: pointer;
    line-height: 3;
  }

  /*#mainBar {
    height: calc(100% - 259px);
    top: 58px;
  }*/
}

#typing {
  font-family: 'AppleSDGothicNeoEB';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -1.5px;
  color: #000;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -50%);
}

.color-list-container {
  width: 100%;
  height: 30px;
  overflow-x: scroll;
  margin-top: 15px;
  margin-bottom: 5px;
  -webkit-overflow-scrolling: touch; /* iOS에서 스크롤링 시 부드럽게 스크롤링 되도록 함 */
}

.color-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*gap: 20px; /* 버튼 간의 간격을 20px으로 설정 */
  height: auto;
}

.color-button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  margin-right: 20px;
  flex-shrink: 0; /* flex 아이템이 부모 요소보다 작아지지 않도록 함 */
}

.color-button:first-child {
  margin-left:15px;
}

